* {
  margin  : 0;
  padding : 0;
  overflow: hidden;
}

#play {
  position: absolute;
  top     : 50%;
  left    : 50%;
}

#play:hover {
  cursor: pointer;
}

.target {
  background-image : url(troll.svg);
  background-size  : contain;
  background-repeat: no-repeat;
  width            : 35px;
  height           : 35px;
  position         : absolute;
  cursor           : pointer;
  transition       : transform 0.5s 0.25s,
}

#score {
  font-size: 18pt;
  position : absolute;
  left     : 20px;
  top      : 20px;
}

.hide {
  display: none;
}